* {
  font-size: 14px;
}

table,
td,
th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 80%;
}

#wrapper {
  display: flex;
}

#mainCanvas {
  flex: 0 0 65%;
}

#stats {
  flex: 1;
}

#controllers {
  flex: 1;
}